* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: Helvetica;
}
body {
  background: #443e4f;
}
.header
{
width:100%;
height: 80px;
display: block;
background: white;
}
.inner_header
{
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.logo_contanier
{
height: 100%;
display: table;
float: left;
}
.logo_contanier h1
{

  color: #7b65a3;
  height: 100%;
  display:  table-cell;
  vertical-align: middle;
  font-size: 32px;
  text-transform: uppercase;

}
.nav
{
  float: right;
  height: 100%;
}
.nav a
{
  height: 100%;
  display: table;
  float: left;
  padding: 0;
}
.nav a:last-child
{
  padding: 0;
}
.nav a li
{
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;

}
.Bigbox
{
  margin: 50px;
  padding: 50px;
  background: white;
  text-align: center;
  align-items: center;
  color: #7b65a3;
 }



.imgeText p {
  width: 450px;
  text-align:center;
  }

img
{
  width: 450px;
  height: 300px;
  margin: 10px;
}
.box
{
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 80%;
  padding:  20px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
}


.Content
{
  padding-left:  20px;

}
